---
username: "test_user"
user_public_keys:
  - "ssh-ed25519 AAAA...fMo"
  - "ssh-rsa AAAA...4I3"
network_wifi_ssid: "<Change_Me>"
network_wifi_pass: "<Change_Me>"
ssh_port: 39901
locales_timezone: "UTC"

group_roles:
  - user
  - network
  - ssh
  - locales
