---
- name: Distro Configure
  hosts:
    - archlinux.local
  vars:
    username: "test_user"
  roles:
    - role: network
      vars:
        network_wifi_ssid: "<Change_Me>"
        network_wifi_pass: "<Change_Me>"
    - role: ssh
      vars:
        ssh_port: 39901
    - role: user
      vars:
        user_public_keys:
          - "ssh-ed25519 AAAA...fMo"
          - "ssh-rsa AAAA...4I3"
