title       Ubuntu 24.04 LTS (kernel: {{ kernel_version.stdout }})
version     {{ kernel_version.stdout }}
machine-id  {{ machine_id.stdout }}
sort-key    ubuntu
linux       /ubuntu/vmlinuz-{{ kernel_version.stdout }}
initrd      /ubuntu/initrd.img-{{ kernel_version.stdout }}
options     root=PARTLABEL={{ partition_root.name }} ro
